@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500&family=Roboto:wght@400;700&family=Yellowtail&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: heldane;
  src: url(/src/assets/font/TestHeldaneText-Regular.otf);
}

@font-face {
  font-family: dmSan;
  src: url(/src/assets/font/DMSans-Regular.ttf);
}
